.headline{
    -fx-text-fill: #333;
    -fx-font-family: Mulish;
    -fx-font-size: 34px;
    -fx-font-style: normal;
    -fx-font-weight: 800;
    -fx-line-height: normal;
}
.sub{
    -fx-text-fill: #757575;
    -fx-font-family: Mulish;
    -fx-font-size: 22px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: normal;
}
.username{
    -fx-text-fill: #474747;
    -fx-font-family: "Mulish";
    -fx-font-size: 15;
    -fx-font-weight: 600;
}
.login-box{
    -fx-border-width: 5;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: rgba(219, 219, 219, 0.84);
}
.label-user{
    -fx-border-color: #fff;
}
.button {
    -fx-background-color: #2980b9; /* Green */
    -fx-border: none;
    -fx-color: white;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 25px;
}
.create-account{
    -fx-text-fill: #0014ff;
    -fx-font-family: "Mulish";
    -fx-font-size: 15;
    -fx-font-weight: 700;
}
.login-btn{
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: #0014ff;
    -fx-text-fill: #ffff;
    -fx-font-size: 15;
    -fx-pref-height: 45;
}
.loading-circle{
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-background-color: #ffff;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-text-fill: #0014ff;
}
.loaded-circle{
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-background-color: #0014ff;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-text-fill: #ffff;
}
.sendOtpButton {
    -fx-background-color: #2980b9; /* Green */
    -fx-border: none;
    -fx-color: white;
    -fx-padding: 15px 25px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 15px;
}
.dashboard-side-bar{
    -fx-border-radius: 20px 0px 0px 20px;
    -fx-background-radius: 20px 0px 0px 20px;
}
.name{
    -fx-text-fill: #ffff;
    -fx-font-family: Lato;
    -fx-font-size: 15;
    -fx-font-weight: 700;
}
.date-time{
    -fx-text-fill: rgb(118, 118, 118);
    -fx-font-family: Lato;
    -fx-font-size: 15px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
}
.last-login-time-date{
    -fx-text-fill: rgba(255, 255, 255, 0.85);
    -fx-font-family: Lato;
    -fx-font-size: 15px;
    -fx-font-style: normal;
    -fx-font-weight: 800;
}
.edit-profile-btn{
    -fx-text-fill: #ffff;
    -fx-font-family: Lato;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: 800;
    -fx-background-color: #0014FF;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-pref-width:100 ;
    -fx-pref-height: 30;
}
.reminders{
    -fx-color: #000;
    -fx-font-family: Mulish;
    -fx-font-size: 20px;
    -fx-font-style: normal;
    -fx-font-weight: 800;
    -fx-line-height: normal;
}