.headline{
    -fx-text-fill: #333;
    -fx-font-family: Mulish;
    -fx-font-size: 34px;
    -fx-font-style: normal;
    -fx-font-weight: 800;
    -fx-line-height: normal;
}
.sub{
    -fx-text-fill: #757575;
    -fx-font-family: Mulish;
    -fx-font-size: 22px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: normal;
}
.main-box{
    -fx-border-width: 5;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: rgba(219, 219, 219, 0.84);
}
